@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', system-ui;
}

.container {
    padding: 80px 0;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

ul {
    list-style: none;
}

.purple {
    color: rgb(100 21 255);
}

.nav__link--primary,
.header__input--button,
.section__btn {
    transition: filter 300ms ease;
}

.nav__link--primary:hover,
.header__input--button:hover,
.section__btn:hover {
    cursor: pointer;
    filter: brightness(85%);
}

/* NAVIGATION */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo,
.nav__link {
    text-decoration: none;
}

.logo__img {
    width: 40px;
    margin-right: 12px;
}

.logo__text {
    font-size: 24px;
    font-weight: 900;
    color: black;
    transition: color 300ms ease;
}

.logo__text:hover {
    color: rgb(100, 21, 255);
}

.logo__text,
.nav__link {
    letter-spacing: 0.025em;
}

.nav__links {
    display: flex;
    align-items: center;
}

.nav__link {
    margin: 0 24px;
    font-size: 14px;
    font-weight: 600;
    color: #242424;
    border-bottom: 2px solid transparent;
    padding-bottom: 4px;
    transition: all 300ms ease;

}

.nav__link:hover {
    color: rgb(100, 21, 255);
    border-color: rgb(100, 21, 255);
}

.nav__link--secondary {
    margin-left: 40px;
}

.nav__link--primary {
    background-color: rgb(100 21 255);
    color: white !important; 
    padding: 12px 32px;
    border-radius: 50px;
    margin-left: 0;
}

/* HEADER */

header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 64px;
    width: 100%;
}

.header__left {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
}

.header__title {
    font-size: 48px;
}

.header__para {
    margin: 32px 0;
    font-size: 18px;
    color: #243E63;
    word-spacing: 0.05em;
}

.header__input--container {
    position: relative;
    max-width: 28rem;
}

.header__input {
    padding: 20px 192px 20px 32px;
    border-radius: 9999px;
    font-weight: 500;
    font-size: 100%;
    border: 2px solid gray;
}

.header__input--button {
    position: absolute;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: rgb(100 21 255);
    color: white;
    border-radius: 9999px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    width: 156px;
    margin: 8px 4px 8px 0;
    line-height: 1;
}

.customers__container {
    margin-top: 80px;
}

.customers__title {
    color: #A0AEC0;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.05em;
}

.customers__img {
    width: 100%;
    padding-right: 64px;
    margin-top: 16px;
    opacity: 0.5;
}

.header__right {
    width: 60%;
}

.header__img {
    width: 100%;
}

/* FEATURES */

#features {
    margin-top: 124px;
}

.features__row {
    max-width: 1024px;
}

.features__description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section__title {
    color: rgb(100 21 255);
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.1em;
}

.section__subtitle {
    font-size: 48px;
    font-weight: 900;
    letter-spacing: 0.025em;
    color: #243E63;
    margin: 32px 0;
}

.section__para {
    color: #7C8BA1;
    font-size: 18px;
    font-weight: 500;
    width: 100%;
    max-width: 36rem;
    text-align: center;
    line-height: 1.625;
}

.services {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 32px;
}

.service {
    width: calc(100% / 3);
    display: flex;
    padding: 0 24px;
    margin: 32px 0;
}

.service__img {
    border: 1px solid rgb(226, 232, 240);
    padding: 20px;
    border-radius: 9999px;
}

.service__description {
    margin-left: 16px;
    margin-top: 8px;
}

.service__title {
    font-size: 24px;
    color: #243E63;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.025em;
}

.service__para {
    margin-top: 16px;
    color: rgb(124, 139, 161);
    line-height: 2;
    font-weight: 500;
}

/* QUALITY */

.quality__row {
    display: flex;
}

.quality__description {
    width: 50%;
}

#quality .section__para {
    text-align: left;
}

.quality__img--container {
    width: 50%;
    border: 1px solid rgba(124, 139, 161, 0.2);
    border-radius: 4px;
    display: flex;
    overflow: hidden;
}

.quality__img {
    width: 100%;
}

.section__btn {
    margin-top: 32px;
    background-color: rgb(100 21 255);
    border: none;
    padding: 12px 32px;
    border-radius: 50px;
    color: white;
    font-size: 14px;
    font-weight: 700;
}

/* STEPS */


.steps__row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.steps__description {
    width: 50%;
    margin-left: 80px;
}

.steps__img--container {
    width: 50%;
}

.steps__img {
    width: 100%;
}

.steps__wrapper {
    display: flex;
    flex-direction: column;
}

.step {
    margin-top: 32px;
    display: flex;
}

.step__number {
    font-size: 2.25rem;
    font-weight: 600;
    color: rgb(203, 213, 224);
    line-height: 1;
}

.step__description {
    margin-left: 1.5rem;
}

.step__title {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1;
}

.step__para {
    margin-top: 12px;
    max-width: 20rem;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 2;
    color: rgb(113, 128, 150);
}


/* PRICING */

.pricing__description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plans__container {
    width: 100%;
    margin-top: 64px;
    display: flex;
}

.plan {
    width: calc(100% / 3);
    border: 1px solid rgb(226, 232, 240);
    position: relative;
    margin: 0 16px;
}

.plan--blue {
    background-image: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
    color: white;
}

.plan--blue .plan__feature, .plan--blue .plan__length {
    color: white;
}

.plan__line {
    position: absolute;
    height: 0.5rem;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
    left: 0px;
    right: 0px;
    top: 0px;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
}

.plan__line--red {
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.plan { 
    border-radius: 8px;
}

.plan__header,
.plan__body,
.plan__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 0;
}

.plan__header,
.plan__body {
    border-bottom: 2px solid rgb(226, 232, 240);
}

.plan__title {
    font-size: 1.25rem;
    font-weight: 700;
    padding-top: 16px;

}

.plan__price {
    font-size: 3rem;
    font-weight: 700;
    margin: 20px 0;
}

.plan__length {
    font-weight: 700;
    letter-spacing: 0.1em;
    color: rgb(160, 174, 192);
}

.plan__feature--main {
    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: 0.025em;
}

.plan__feature {
    font-weight: 500;
    margin-top: 1.25rem;
    color: rgb(113, 128, 150);
    margin-top: 1.25rem;
}

.plan__btn {
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
    border-radius: 9999px;
    border: none;
    color: white;
    padding: 16px 64px;
    font-size: 0.875rem;
    font-weight: 700;
    transition: all 300ms ease;
}

.plan__btn:hover {
    transform: translate(1px, -1px);
    cursor: pointer;
    filter: brightness(85%);
    box-shadow: -4px 1px 2px 0px;
}

.plan__btn--red {
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.plan__btn--blue {
    background: white;
    color: rgb(100 21 255);
}

/* FOOTER */

footer {
    background-color: rgb(100 21 255);
    margin-top: 120px;
    padding: 90px 0;
}

.footer__title {
    font-weight: 700;
    color: white;
    font-size: 16px;
    margin-bottom: 16px;
}

.footer__links {
    display: flex;
    justify-content: space-between;
    padding-bottom: 64px;
    border-bottom: 2px solid rgb(116 44 255);
}

.footer__link {
    color: white;
    text-decoration: none;
    font-size: 14px;
    margin: 12px 0;
    border-bottom: 2px solid;
    padding-bottom: 4px;
    width: max-content;
    border-color: transparent;
    transition: border-color 300ms ease;
}

.footer__link:hover {
    border-color: white;
}

.footer__main,
.footer__product,
.footer__press,
.footer__team,
.footer__legal {
    display: flex;
    flex-direction: column;
}

.footer__copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 48px;
}

.logo__text--footer {
    color: white;
}

.footer__copyright--para {
    color: #CBD5E0;
}

.footer__social--link {
    text-decoration: none;
}

.fab {
    background-color: white;
    padding: 12px;
    border-radius: 9999px;
    text-align: center;
    font-size: 16px;
    margin-left: 12px;
    color: black;
    transition: opacity 300ms ease;
}

.fab:hover {
    opacity: 0.8;
}